// -------------------------------------------------------------------
// Populate the ${rhs}
$relId = $row['${lhs_column}'];
if ($relId !== null) {
  $persister = ActorAbstractFactory::getActor('persister', '${rhs}');
  $related = $persister->getById($relId);

  if ($related === null) {
    throw new Exception("No ${rhs} with id $relId.");
  }

  $model->set${lhs_property}($related);
}
// -------------------------------------------------------------------
