// -------------------------------------------------------------------
// Populate the ${lhs}
$c = new Criteria();
$c->addEquals('${rhs_column}', $id);

$persister = ActorFactory::getActor('persister', ${rhs});
$related = $persister->retrieve($c);
$model->set${lhs_property}($related);
// -------------------------------------------------------------------
