// -------------------------------------------------------------------
// Populuate the ${rhs} parameter
$rhs = $model->get${lhs_property}();
$rhsId = null;
if ($rhs !== null) {
  $rhsId = $rhs->get${rhs_id_property}();
  if ($rhsId === null) {
    $persister = ActorFactory::getActor('persister', '${rhs}');
    $rhsId = $persister->create($rhs);
  }
}
$params[':${lhs_column}'] = $rhsId;
// -------------------------------------------------------------------
