// -------------------------------------------------------------------
// Populate the ${rhs}
$c = new Criteria();
$c->addSelect('${rhs_table}.*');
$c->addJoin('${link_table}', '${rhs_id_column}', '${rhs_link_column}');
$c->addEquals('${lhs_link_column}', $id);

$persister = ActorFactory::getActor('persister', '${rhs}');
$related = $persister->retrieve($c);
$model->set${lhs_property}($related);
// -------------------------------------------------------------------
