// -------------------------------------------------------------------
// Delete related ${rhs} entities
$persister = ActorFactory::getActor('persister', '${rhs}');
$related = $model->get${lhs_property}();

foreach ($related AS $rel) {
  $persister->delete($rel);
}
// -------------------------------------------------------------------

